::-webkit-scrollbar {
    width: 10px;
    margin: 2px;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgba(red, green, blue, 00);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #0d6efd; 
    border-radius: 25px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #4ca0d0; 
}

